# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy dotnet core app to Azure Function App - training20240731

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './AzureServiceBusToSQL' # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '8.0.x' # set this to the dotnet version to use
  azureSubscription: 'Azure subscription 1'  # Azure service connection name
  resourceGroup: 'training20240731'
  storageAccount: 'training20240731'
  containerName: 'config'

jobs:
  build-and-deploy:
    runs-on: windows-latest
    permissions:
      id-token: write #This is required for requesting the JWT

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: pwsh
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_18E5630069584F8F830AE186B70BC090 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1A000E7EE04343ECA8E3649E60233997 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4FE267218AE94C09BF3FA8EAA824D42F }}

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'training20240731'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
       
      - name: Upload files to Azure Storage
        shell: pwsh
           run:|
            echo "Uploading files to Azure Storage Account..."
            az storage blob upload-batch -d ${{ env.containerName}} --account-name ${{ env.storageAccount }} -s ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/config
          
